{% extends "base.html" %}
{% block content %}
    <div class="alert alert-primary" role="alert">
        У басиста умер дед. Но когда стали делить наследство, тот не попал в долю.
    </div>
    <div class="alert alert-success" role="alert">
        <h6>— Маршалл, какая самая плохая черта вашего характера?</h6>
        <h6>— Излишняя прямота!</h6>
        <h6>— Я думаю, что это наоборот хорошо!</h6>
        <h6>— Да мне плевать, что ты там думаешь.</h6>
    </div>
    <div class="alert alert-warning" role="alert">
        Из-за экономического кризиса в монетном дворе зарплату работникам выдали продукцией
    </div>

{% endblock %}